In [1]:
import pandas as pd

In [2]:
data = ["202306-citibike-tripdata_1.csv", "202306-citibike-tripdata_2.csv", "202306-citibike-tripdata_3.csv", "202306-citibike-tripdata_4.csv"]
df = pd.concat(map(pd.read_csv, data), ignore_index=True) 
df.head()

C:\Users\chris\AppData\Local\Temp\ipykernel_2844\3908967590.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, data), ignore_index=True)
C:\Users\chris\AppData\Local\Temp\ipykernel_2844\3908967590.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, data), ignore_index=True)
C:\Users\chris\AppData\Local\Temp\ipykernel_2844\3908967590.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, data), ignore_index=True)
C:\Users\chris\AppData\Local\Temp\ipykernel_2844\3908967590.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, data), ignore_index=True)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,984F50BCBC76DD9A,classic_bike,2023-06-11 06:54:21,2023-06-11 07:12:28,W 84 St & Columbus Ave,7382.04,Amsterdam Ave & W 125 St,7800.03,40.785000,-73.972834,40.813358,-73.956461,member
1,03E3D62E7FB76B05,classic_bike,2023-06-19 15:23:11,2023-06-19 16:00:05,E 89 St & York Ave,7204.08,Mott St & Prince St,5561.04,40.777958,-73.945928,40.723180,-73.994800,member
2,8E7EE421A0B8BBF3,classic_bike,2023-06-06 16:07:05,2023-06-06 16:15:14,E 51 St & 2 Ave,6575.03,E 25 St & 1 Ave,6004.07,40.755357,-73.967489,40.738177,-73.977387,member
3,24D66A0C46493CB1,classic_bike,2023-06-26 19:52:23,2023-06-26 19:55:47,India St Pier,5794.05,Franklin St & Dupont St,5944.01,40.731735,-73.961239,40.735640,-73.958660,member
4,E944882A074B8F61,classic_bike,2023-06-05 08:57:57,2023-06-05 09:13:36,E 47 St & 2 Ave,6498.1,5 Ave & E 29 St,6248.06,40.753231,-73.970325,40.745168,-73.986831,member

In [3]:
df.shape

(3560259, 13)

In [4]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [5]:
df["start_station_id"].value_counts()

start_station_id
6140.05    6778
6140.05    6626
5329.03    6378
6331.01    5726
5329.03    5693
           ...
JC035         1
HB301         1
HB102         1
JC078         1
HB402         1
Name: count, Length: 3788, dtype: int64

In [6]:
df["end_station_id"].value_counts()

end_station_id
6765.01       10079
6822.09        9971
6331.01        9970
6432.11        9748
6140.05        9592
              ...
JC081             1
190 Morgan        1
HB101             1
JC103             1
JC024             1
Name: count, Length: 2731, dtype: int64

In [7]:
df["started_at"] = pd.to_datetime(df["started_at"])
df["ended_at"] = pd.to_datetime(df["ended_at"])

In [8]:
df["start_lat"] = df["start_lat"].round(4)
df["end_lat"] = df["end_lat"].round(4)
df["start_lng"] = df["start_lng"].round(4)
df["end_lng"] = df["end_lng"].round(4)

In [9]:
df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [10]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,984F50BCBC76DD9A,classic_bike,2023-06-11 06:54:21,2023-06-11 07:12:28,W 84 St & Columbus Ave,7382.04,Amsterdam Ave & W 125 St,7800.03,40.7850,-73.9728,40.8134,-73.9565,member
1,03E3D62E7FB76B05,classic_bike,2023-06-19 15:23:11,2023-06-19 16:00:05,E 89 St & York Ave,7204.08,Mott St & Prince St,5561.04,40.7780,-73.9459,40.7232,-73.9948,member
2,8E7EE421A0B8BBF3,classic_bike,2023-06-06 16:07:05,2023-06-06 16:15:14,E 51 St & 2 Ave,6575.03,E 25 St & 1 Ave,6004.07,40.7554,-73.9675,40.7382,-73.9774,member
3,24D66A0C46493CB1,classic_bike,2023-06-26 19:52:23,2023-06-26 19:55:47,India St Pier,5794.05,Franklin St & Dupont St,5944.01,40.7317,-73.9612,40.7356,-73.9587,member
4,E944882A074B8F61,classic_bike,2023-06-05 08:57:57,2023-06-05 09:13:36,E 47 St & 2 Ave,6498.1,5 Ave & E 29 St,6248.06,40.7532,-73.9703,40.7452,-73.9868,member

In [11]:
df.to_csv("june2023citibike.csv", index = False)